In [250]:
import pandas as pd
import yfinance as yf
# technical
# raw rice
# price adjusted
# volume
# beta

# fundamental
# eps earnigns per share
# revenue

# reference
# market cap
# sector

# example
# msft = yf.Ticker("MSFT")
# hist = msft.history(period='1mo', keepna=False)
# # Technical
# price_adjusted = hist.Close
# volume = hist.Volume
# beta = msft.info['beta']
#
# # Fundamental data
# revenue = msft.quarterly_income_stmt.loc['Total Revenue']
# diluted_eps = msft.quarterly_income_stmt.loc['Diluted EPS']
#
# # Reference data
# marketCap = msft.info['marketCap']
# sector = msft.info['sector']

In [104]:
# read choosen sp220 from sp500
sp220 = pd.read_csv("sp220.csv", index_col=0)

In [106]:
sp220

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
Symbol,,,,,,,
TTWO,Take-Two Interactive,Communication Services,Interactive Home Entertainment,"New York City, New York",2018-03-19,946581,1993
OMC,Omnicom Group,Communication Services,Advertising,"New York City, New York",1997-12-31,29989,1986
T,AT&T,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30,732717,1983 (1885)
META,Meta Platforms,Communication Services,Interactive Media & Services,"Menlo Park, California",2013-12-23,1326801,2004
TMUS,T-Mobile US,Communication Services,Wireless Telecommunication Services,"Bellevue, Washington",2019-07-15,1283699,1994
...,...,...,...,...,...,...,...
FE,FirstEnergy,Utilities,Electric Utilities,"Akron, Ohio",1997-11-28,1031296,1997
EIX,Edison International,Utilities,Electric Utilities,"Rosemead, California",1957-03-04,827052,1886
CMS,CMS Energy,Utilities,Multi-Utilities,"Jackson, Michigan",1957-03-04,811156,1886
SO,Southern Company,Utilities,Electric Utilities,"Atlanta, Georgia",1957-03-04,92122,1945
LNT,Alliant Energy,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541,1917

In [136]:
symbols = sp220.index

In [137]:
symbols

Index(['TTWO', 'OMC', 'T', 'META', 'TMUS', 'NWS', 'IPG', 'CHTR', 'GOOG',
       'PARA',
       ...
       'PNW', 'AWK', 'AEE', 'PEG', 'CNP', 'FE', 'EIX', 'CMS', 'SO', 'LNT'],
      dtype='object', name='Symbol', length=220)

In [218]:
tickers = yf.Tickers(' '.join(symbols))

In [139]:
tickers

yfinance.Tickers object <TTWO,OMC,T,META,TMUS,NWS,IPG,CHTR,GOOG,PARA,DIS,EA,GOOGL,NFLX,ATVI,NWSA,WBD,VZ,FOX,FOXA,MCD,APTV,WYNN,MHK,MGM,TJX,NKE,PHM,TSLA,GRMN,CCL,AZO,GPC,VFC,POOL,ROST,HD,RCL,RL,NCLH,BF.B,PM,BG,KR,TAP,MNST,KHC,WBA,KDP,MKC,PG,HRL,PEP,TSN,SJM,MDLZ,CPB,EL,STZ,TGT,TRGP,PSX,COP,MRO,SLB,OKE,HAL,CTRA,CVX,PXD,FANG,EOG,BKR,MPC,APA,OXY,WMB,VLO,XOM,EQT,CINF,PNC,WRB,V,NTRS,FDS,JKHY,PYPL,GPN,RJF,JPM,BEN,AXP,MCO,HIG,IVZ,COF,PFG,GS,TFC,RMD,TFX,MOH,A,OGN,STE,DVA,LLY,MTD,LH,PODD,JNJ,ZBH,INCY,GEHC,UHS,REGN,ALGN,HOLX,EW,DAL,RSG,CHRW,WAB,RTX,FDX,LHX,HII,IEX,LUV,NDSN,ODFL,ADP,PWR,FTV,JCI,CSGP,MAS,ITW,URI,TRMB,HPE,STX,FFIV,GEN,LRCX,AKAM,NXPI,QRVO,INTU,TDY,MSI,SNPS,PAYC,MSFT,KEYS,PANW,PTC,ON,NOW,IFF,NUE,MLM,NEM,SHW,MOS,AVY,EMN,PPG,PKG,BALL,AMCR,SEE,CF,LYB,FCX,CTVA,STLD,ALB,LIN,KIM,O,ESS,PLD,HST,PSA,VTR,BXP,SPG,REG,SBAC,CPT,AVB,UDR,CCI,MAA,PEAK,DLR,VICI,AMT,EXC,NRG,D,NEE,ETR,NI,SRE,AEP,PPL,PCG,PNW,AWK,AEE,PEG,CNP,FE,EIX,CMS,SO,LNT>

In [143]:
hist = tickers.history(start='2020-01-01', end='2023-01-01')

[*********************100%***********************]  220 of 220 completed

1 Failed download:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2020-01-01 -> 2023-01-01)')

In [145]:
hist

           Adj Close       Close
                BF.B           A         ADP        AEE        AEP       AKAM
Date
2020-01-02       NaN   83.948051  158.306824  69.281036  82.936996  87.639999  \
2020-01-03       NaN   82.600189  157.972244  69.308365  82.848267  87.239998
2020-01-06       NaN   82.844376  158.186005  69.372139  83.123352  87.550003
2020-01-07       NaN   83.098320  156.271286  69.627220  83.141106  90.199997
2020-01-08       NaN   83.918739  157.739868  69.508781  82.892647  91.400002
...              ...         ...         ...        ...        ...        ...
2022-12-23       NaN  148.481888  238.199707  88.182816  93.957169  83.160004
2022-12-27       NaN  148.800278  238.288681  88.921532  94.546303  83.500000
2022-12-28       NaN  147.347595  235.144852  88.035080  93.633148  83.500000
2022-12-29       NaN  150.332550  237.883331  88.655602  94.271378  84.699997
2022-12-30       NaN  149.121841  236.143356  87.581993  93.230568  84.300003

                                                           ...   Volume
                   ALB        ALGN       AMCR         AMT  ...      VTR
Date                                                       ...
2020-01-02   70.112602  283.679993   9.184127  210.972885  ...  2224500  \
2020-01-03   69.108368  280.440002   9.063167  211.074432  ...  2966100
2020-01-06   69.031128  285.880005   9.002688  211.019028  ...  2276200
2020-01-07   69.938812  283.059998   8.924931  206.522568  ...  1578200
2020-01-08   68.731789  286.000000   8.959489  208.313751  ...  2002200
...                ...         ...        ...         ...  ...      ...
2022-12-23  226.137054  203.669998  11.786204  207.630051  ...   938100
2022-12-27  213.383453  204.589996  11.805750  207.639877  ...  2346300
2022-12-28  213.263885  201.580002  11.639610  206.852280  ...  1502100
2022-12-29  216.681442  212.139999  11.747112  212.405075  ...  1578200
2022-12-30  216.073654  210.899994  11.639610  208.585052  ...  1450800


                  VZ      WAB       WBA       WBD       WMB      WRB     WYNN
Date
2020-01-02  11447900  1717800   5700500   3249300   6970000  1310250  3006500  \
2020-01-03  13263200   968700   4892300   3599600   7542700   657600  1760500
2020-01-06  15094500  1233500   6003300   2416900  12104200   975750  1357900
2020-01-07  14293100  1073900   4365700   3102000   8952900  1029300  1722100
2020-01-08  15926500  1536000  17431800   3674100   7396400   861750  1176200
...              ...      ...       ...       ...       ...      ...      ...
2022-12-23  16918300   390000   3476700  19035100   5307500   642700  1134800
2022-12-27  25315900   484500   3940100  22207700   4938100   905900  4026500
2022-12-28  21793200   349800   4008900  22506100   3688200   553700  2131500
2022-12-29  17347000   366700   5251500  29740700   3551500   568300  1431100
2022-12-30  44007200   433400   5406200  22808700   3479200   924000  1614700


                 XOM      ZBH
Date
2020-01-02  12456400  1083972
2020-01-03  17386900   992405
2020-01-06  20081900   972423
2020-01-07  17387700   934519
2020-01-08  15137700   936064
...              ...      ...
2022-12-23  11539400   789800
2022-12-27  11962100   755600
2022-12-28  10702100   750100
2022-12-29  10534000   686600
2022-12-30  11799600   785200

[756 rows x 1539 columns]

In [166]:
hist.stack(dropna=False)

                 Adj Close       Close  Dividends        High         Low
Date
2020-01-02 A           NaN   83.948051        0.0   84.338736   83.215520  \
           ADP         NaN  158.306824        0.0  159.868321  157.265811
           AEE         NaN   69.281036        0.0   70.237575   69.016848
           AEP         NaN   82.936996        0.0   83.913142   82.511045
           AKAM        NaN   87.639999        0.0   87.830002   86.529999
...                    ...         ...        ...         ...         ...
2022-12-30 WMB         NaN   31.948896        0.0   32.075136   31.706124
           WRB         NaN   71.828133        0.0   72.481389   71.174884
           WYNN        NaN   82.283043        0.0   82.472615   79.918413
           XOM         NaN  108.516106        0.0  108.712868  106.853436
           ZBH         NaN  127.045898        0.0  127.275083  125.760492

                       Open  Stock Splits      Volume
Date
2020-01-02 A      83.899221           0.0   1410500.0
           ADP   159.831149           0.0   1364600.0
           AEE    70.091820           0.0   1460900.0
           AEP    83.859900           0.0   1779700.0
           AKAM   86.839996           0.0   1079900.0
...                     ...           ...         ...
2022-12-30 WMB    31.900339           0.0   3479200.0
           WRB    72.194353           0.0    924000.0
           WYNN   79.988254           0.0   1614700.0
           XOM   106.853436           0.0  11799600.0
           ZBH   126.697147           0.0    785200.0

[166320 rows x 8 columns]

In [190]:
tech_data = hist.stack(dropna=False)[['Close', 'Volume']]
tech_data.index.names=['Date', 'Symbol']

In [191]:
tech_data.index.get_level_values(1).nunique()

220

In [192]:
tech_data

                        Close      Volume
Date       Symbol
2020-01-02 A        83.948051   1410500.0
           ADP     158.306824   1364600.0
           AEE      69.281036   1460900.0
           AEP      82.936996   1779700.0
           AKAM     87.639999   1079900.0
...                       ...         ...
2022-12-30 WMB      31.948896   3479200.0
           WRB      71.828133    924000.0
           WYNN     82.283043   1614700.0
           XOM     108.516106  11799600.0
           ZBH     127.045898    785200.0

[166320 rows x 2 columns]

In [193]:
tech_data.index.get_level_values(1).nunique()

220

In [194]:
tech_data.groupby(level=1).apply(lambda g:g[g.Close.isnull() | g.Volume.isnull()].shape[0]).loc[lambda x:x>0]

Symbol
BF.B    756
GEHC    745
OGN     344
dtype: int64

In [238]:
# drop the stocks missing many data
deleted_symbols = ['BF.B', 'GEHC', 'OGN']
str_deleted_symbols = "','".join(['BF.B', 'GEHC', 'OGN'])
remaining_symbols = [symbol for symbol in symbols if symbol not in deleted_symbols]
clean_tech_data = tech_data.query(f"Symbol not in ['{str_deleted_symbols}']")

In [307]:
clean_tech_data.index.get_level_values('Symbol').nunique()

217

In [327]:
clean_tech_data.isnull().values.sum()

0

In [223]:
clean_tech_data

                        Close      Volume
Date       Symbol
2020-01-02 A        83.948051   1410500.0
           ADP     158.306824   1364600.0
           AEE      69.281036   1460900.0
           AEP      82.936996   1779700.0
           AKAM     87.639999   1079900.0
...                       ...         ...
2022-12-30 WMB      31.948896   3479200.0
           WRB      71.828133    924000.0
           WYNN     82.283043   1614700.0
           XOM     108.516106  11799600.0
           ZBH     127.045898    785200.0

[164052 rows x 2 columns]

In [293]:
# fundamental data
def get_fundamental(symbol):
    ticker=tickers.tickers[symbol]
    fdata = ticker.quarterly_income_stmt.loc[['Total Revenue', 'Diluted EPS']]
    tuples = zip([symbol]*len(fdata.columns), fdata.columns)
    fdata.columns = pd.MultiIndex.from_tuples(tuples, name=['Symbol', 'Date'])
    return fdata
# for symbol in symbols:
fundamental_data = []
for symbol in remaining_symbols:
    try:
        fdata = get_fundamental(symbol)
        fundamental_data.append(fdata)
    except:
        print(symbol)
fundamental_data = pd.concat(fundamental_data, axis=1)

AVB
UDR
SRE

In [294]:
#fetch unsuccessful symbols
#maunual refetch unsucceful symbols' fundamental data due to network issue
tickers = yf.Tickers(' '.join(symbols)) # tickers objects need be initialized again to re-fetch
missing_symbols = ['AVB', 'UDR', 'SRE']
missing_fdata = []
for symbol in missing_symbols:
    fdata = get_fundamental(symbol)
    missing_fdata.append(fdata)
missing_fdata = pd.concat(missing_fdata, axis=1)

In [302]:
complete_fundamental_data = pd.concat([fundamental_data, missing_fdata], axis=1).T

In [303]:
complete_fundamental_data.index.get_level_values(0).nunique()

217

In [325]:
complete_fundamental_data.isnull().values.sum()

21

In [332]:
complete_fundamental_data.isnull().sum()

Total Revenue     1
Diluted EPS      20
dtype: int64

In [330]:
complete_fundamental_data.isnull().sum(axis=1).loc[lambda x:x>0]

Symbol  Date
PARA    2022-12-31    1
WBD     2022-12-31    1
NKE     2023-05-31    1
MKC     2022-11-30    1
TRGP    2022-12-31    1
OKE     2022-12-31    1
WMB     2022-12-31    1
PYPL    2022-12-31    1
PFG     2023-06-30    2
        2022-12-31    1
WAB     2022-12-31    1
LHX     2022-12-31    1
LYB     2022-12-31    1
NRG     2022-12-31    1
NI      2022-12-31    1
AEP     2022-12-31    1
PCG     2022-12-31    1
CNP     2022-12-31    1
FE      2022-12-31    1
EIX     2022-12-31    1
dtype: int64

In [333]:
tickers.tickers['PFG'].quarterly_income_stmt

,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Tax Effect Of Unusual Items,NaN,0.0,0.0,0.0,0.0
Tax Rate For Calcs,NaN,0.367059,0.4,0.2,0.21
Net Income From Continuing Operation Net Minority Interest,NaN,-140100000.0,-9500000.0,1385500000.0,3059400000.0
Normalized Income,NaN,-140100000.0,-9500000.0,1385500000.0,3059400000.0
Net Income From Continuing And Discontinued Operation,NaN,-140100000.0,-9500000.0,1385500000.0,3059400000.0
Total Expenses,NaN,3031500000.0,3117100000.0,2870800000.0,2761600000.0
Diluted Average Shares,242000000.0,243400000.0,NaN,251900000.0,256231156.0
Basic Average Shares,242000000.0,243400000.0,NaN,248000000.0,252634187.0
Diluted EPS,NaN,-0.58,NaN,5.5,11.94
Basic EPS,NaN,-0.58,NaN,5.59,12.11
Diluted NI Availto Com Stockholders,NaN,-140100000.0,-9500000.0,1385500000.0,3059400000.0
Net Income Common Stockholders,NaN,-140100000.0,-9500000.0,1385500000.0,3059400000.0
Net Income,NaN,-140100000.0,-9500000.0,1385500000.0,3059400000.0
Minority Interests,NaN,-5600000.0,-25000000.0,4100000.0,-15200000.0
Net Income Including Noncontrolling Interests,NaN,-134500000.0,15500000.0,1381400000.0,3074600000.0
Net Income Continuous Operations,NaN,-134500000.0,15500000.0,1381400000.0,3074600000.0
Tax Provision,NaN,-78000000.0,-10600000.0,348700000.0,822500000.0
Pretax Income,NaN,-212500000.0,4900000.0,1730100000.0,3897100000.0
Other Operating Expenses,NaN,1242900000.0,1196900000.0,1111500000.0,1458500000.0
Total Revenue,NaN,2819000000.0,3122000000.0,4600900000.0,6658700000.0
Operating Revenue,NaN,2819000000.0,3122000000.0,4600900000.0,6658700000.0

In [308]:
# fetch reference data
import time
ref_data = []

def get_reference(symbol):
    ticker = tickers.tickers[symbol]
    info = ticker.info
    market_cap = info['marketCap']
    sector = info['sector']
    series = pd.Series({'Market Cap':market_cap, 'Sector': sector}, name=symbol)
    return series

for symbol in remaining_symbols:
    try:
        ref_data.append(get_reference(symbol))
    except:
        print(symbol)
ref_data = pd.DataFrame(ref_data)

In [309]:
ref_data

        Market Cap                  Sector
TTWO   25671034880  Communication Services
OMC    16309487616  Communication Services
T     103303053312  Communication Services
META  834117369856  Communication Services
TMUS  169028501504  Communication Services
...            ...                     ...
FE     22535407616               Utilities
EIX    27942438912               Utilities
CMS    17796849664               Utilities
SO     78890434560               Utilities
LNT    13547298816               Utilities

[217 rows x 2 columns]

In [326]:
ref_data.isnull().values.sum()

0

In [320]:
# check result matches
(complete_fundamental_data.index.get_level_values('Symbol').unique().sort_values() ==clean_tech_data.index.get_level_values('Symbol').unique().sort_values()).all()

True

In [321]:
(complete_fundamental_data.index.get_level_values('Symbol').unique().sort_values() == ref_data.index.sort_values()).all()

True

In [322]:
clean_tech_data.to_csv('tech_data.csv')

In [323]:
complete_fundamental_data.to_csv('fundmental_data.csv')

In [324]:
ref_data.to_csv('reference_data.csv')