In [41]:
## sample 220 stocks, 20 each for each sector from sp500
import pandas as pd
sp500 = pd.read_csv("sp500_constituents.csv", index_col=0)

In [42]:
sp500

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
Symbol,,,,,,,
MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...
YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [43]:
sp500.groupby(by='GICS Sector').count()

,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,
Communication Services,23,23,23,23,23,23
Consumer Discretionary,53,53,53,52,53,53
Consumer Staples,37,37,37,37,37,37
Energy,23,23,23,23,23,23
Financials,72,72,72,70,72,72
Health Care,65,65,65,64,65,65
Industrials,74,74,74,72,74,74
Information Technology,67,67,67,66,67,67
Materials,29,29,29,28,29,29
Real Estate,30,30,30,29,30,30
Utilities,30,30,30,29,30,30

In [44]:
def sample_stocks(g):
    stocks = g.sample(n=20, random_state=1)
    return stocks
sp220 = sp500.groupby(by='GICS Sector', group_keys=False).apply(sample_stocks)
sp220.groupby(by='GICS Sector').count()

,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,
Communication Services,20,20,20,20,20,20
Consumer Discretionary,20,20,20,20,20,20
Consumer Staples,20,20,20,20,20,20
Energy,20,20,20,20,20,20
Financials,20,20,20,20,20,20
Health Care,20,20,20,20,20,20
Industrials,20,20,20,20,20,20
Information Technology,20,20,20,20,20,20
Materials,20,20,20,19,20,20
Real Estate,20,20,20,20,20,20
Utilities,20,20,20,19,20,20

In [45]:
sp220

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
Symbol,,,,,,,
TTWO,Take-Two Interactive,Communication Services,Interactive Home Entertainment,"New York City, New York",2018-03-19,946581,1993
OMC,Omnicom Group,Communication Services,Advertising,"New York City, New York",1997-12-31,29989,1986
T,AT&T,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30,732717,1983 (1885)
META,Meta Platforms,Communication Services,Interactive Media & Services,"Menlo Park, California",2013-12-23,1326801,2004
TMUS,T-Mobile US,Communication Services,Wireless Telecommunication Services,"Bellevue, Washington",2019-07-15,1283699,1994
...,...,...,...,...,...,...,...
FE,FirstEnergy,Utilities,Electric Utilities,"Akron, Ohio",1997-11-28,1031296,1997
EIX,Edison International,Utilities,Electric Utilities,"Rosemead, California",1957-03-04,827052,1886
CMS,CMS Energy,Utilities,Multi-Utilities,"Jackson, Michigan",1957-03-04,811156,1886
SO,Southern Company,Utilities,Electric Utilities,"Atlanta, Georgia",1957-03-04,92122,1945
LNT,Alliant Energy,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541,1917

In [46]:
sp220

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
Symbol,,,,,,,
TTWO,Take-Two Interactive,Communication Services,Interactive Home Entertainment,"New York City, New York",2018-03-19,946581,1993
OMC,Omnicom Group,Communication Services,Advertising,"New York City, New York",1997-12-31,29989,1986
T,AT&T,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30,732717,1983 (1885)
META,Meta Platforms,Communication Services,Interactive Media & Services,"Menlo Park, California",2013-12-23,1326801,2004
TMUS,T-Mobile US,Communication Services,Wireless Telecommunication Services,"Bellevue, Washington",2019-07-15,1283699,1994
...,...,...,...,...,...,...,...
FE,FirstEnergy,Utilities,Electric Utilities,"Akron, Ohio",1997-11-28,1031296,1997
EIX,Edison International,Utilities,Electric Utilities,"Rosemead, California",1957-03-04,827052,1886
CMS,CMS Energy,Utilities,Multi-Utilities,"Jackson, Michigan",1957-03-04,811156,1886
SO,Southern Company,Utilities,Electric Utilities,"Atlanta, Georgia",1957-03-04,92122,1945
LNT,Alliant Energy,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541,1917

In [47]:
sp220.to_csv("sp220.csv")